<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Tia-Jay Davis</h1>
 <p>My name is Tia-Jay Davis. I am 21 years of age. I was born on November 21st 1999. I currently reside in Kingston, Jamaica with my family. 
    I attend the University of the West Indies, where I am pursuing a Bachelor of Science in Information Technolgy and a minor in Psychology.
    My hobbies include: researching new topics, skydiving, snorkeling, reading books and crocheting. I am interested in Web Development because,
    it is a way to make people aware of the services and/or products you are offering, understand why your products are relevant and even necessary 
    for them to buy or use, and to see what sets you apart from your competitors. It is also the way to go since technology is taking over, you will
    never be out of a job.</p>
</body>
</html>